---
import "../styles/main.css";
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta property="og:type" content="website" />
		<meta property="og:url" content="https://social.dagacoding.com" />
		<meta
			property="og:title"
			content="David Garay - Senior Software Engineer"
		/>
		<meta
			property="og:description"
			content="My social networks and personal website. Feel free to reach out to me."
		/>
		<meta
			property="og:image"
			content="https://social.dagacoding.com/logo.png"
		/>
		<meta name="twitter:card" content="summary_large_image" />
		<meta name="twitter:url" content="https://social.dagacoding.com" />
		<meta
			name="twitter:title"
			content="David Garay - Senior Software Engineer"
		/>
		<meta
			name="twitter:description"
			content="My social networks and personal website. Feel free to reach out to me."
		/>
		<meta
			name="twitter:image"
			content="https://social.dagacoding.com/logo.png"
		/>
		<title>{title}</title>
	</head>
	<body
		class="bg-gray-100 dark:bg-zinc-950 text-gray-900 dark:text-gray-100 min-h-screen"
	>
		<slot />
	</body>
</html>
